kht++

*.d
*.o
*.log
*.kdev4
*.prof
*.xopp
*.xopp~
*.out
*.sh

.*
!.gitignore

html/background.jpg
html/raspberryip.png
online-version

!examples
examples/*
!examples/tests
examples/tests/*
!examples/tests/3_1.kht
!examples/tests/PT2m3.kht
examples.html

sources/tests

docs/index.html
docs/html
docs/m.css
docs/m.math.cache
docs/xml

__pycache__

